#carousel::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d9dcde;
  margin-top: 5px;
}

#carousel::-webkit-scrollbar {
  background-color: #d9dcde;
  height: 10px;
}

#carousel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b3bbbf;
}
